body {
  background-color: rgb(226, 223, 223);
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 4%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(50, 49, 49);
  min-height: 600px;
  max-width: 450px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 40px 30px 70px;
  width: 100%;
}
.header-h {
  background-color: rgb(43, 42, 42);
  
  padding: 10px;
  border-radius: 10px;
  color: rgb(114, 116, 118);
  border-color: rgb(43, 42, 42);
  width: 100%;
  text-align: center;
}
.header-z {
 
  
  padding: 10px;
  border-radius: 10px;
  color: rgb(114, 116, 118);
  border-color: rgb(43, 42, 42);
  width: 100%;
  text-align: center;
}
select{
  background-color: rgb(43, 42, 42);
  border-color: rgb(43, 42, 42);
  color: rgb(114, 116, 118);
   font-family: "Courier New", Courier, monospace;
}
ul li{

  list-style-type: none;
  padding: 12px 8px;
  width: 86.5%;
  background-color: rgb(43, 42, 42);
  user-select: none;
  cursor: pointer;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close-btn{
  size: 5px;
}
.todo-checkbox{
  size: 5px;
  width: 18px;
  height: 20px;
}
.inpt {
  border-color: rgb(43, 42, 42);
}
input {
  height: 40px;
  width: 59%;
  background-color: rgb(43, 42, 42);
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(49, 48, 48);
  font-size: 15px;
  color: rgb(114, 116, 118);
  font-family: "Courier New", Courier, monospace;
}
button {
  font-size: 15px;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: rgb(43, 42, 42);
  border-color: rgb(43, 42, 42);
  color: rgb(114, 116, 118);
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
}
.button-class {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.list {
  display: none;
}


@media (min-width: 768px) {
  .page-container {
    min-height: 600px;
  }
}